NYLAS_API_URI=NYLAS_API_URI
NYLAS_API_KEY=NYLAS_API_KEY
NYLAS_CLIENT_ID=NYLAS_CLIENT_ID
NYLAS_REDIRECT_URI=NYLAS_REDIRECT_URI
MONGODB_URI=MONGODB_URI
BASE_URL=http://localhost:3000
SUCCESS_REDIRECT_URL=SUCCESS_REDIRECT_URL
FAILURE_REDIRECT_URL=FAILURE_REDIRECT_URL
JWT_SECRET_KEY=JWT_SECRET_KEY